* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0b2434;
  font-family: karla, Inter, sans-serif, system-ui;
  padding: 0;
}

.white-card {
  background-color: #f5f5f5;
  width: 320px;
  height: 320px;
  border-radius: 10px;
  margin: 32px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-card > h1 {
  color: #2b283a;
  font-size: 25.6px;
  margin-top: 32px;
  margin-bottom: 0;
}

.white-card > p {
  color: #4a4e74;
  margin: 0 29px 23px;
  text-align: center;
  font-size: 13.11px;
  font-family: inter;
}

.die-buttons-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17.92px;
  margin: 0 34.56px 25.6px;
}

.die {
  width: 35.84px;
  height: 35.84px;
  color: #2b283a;
  border-radius: 3.81px;
  box-shadow: 0px 2px 2px 0px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20.59px;
  font-weight: 600;
  border: none;
}

.die-buttons-block > .die:hover {
  cursor: pointer;
}

.white-card > .roll-newgame-button {
  font-family: karla;
  margin-bottom: auto;
  width: 92.18px;
  height: 35.84px;
  background-color: #5035ff;
  color: white;
  /* border: 2px solid rgb(38, 227, 230); */
  border: none;
  border-radius: 3.81px;
  font-size: 16.38px;
}
.white-card > .roll-newgame-button:hover {
  cursor: pointer;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
