* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(115, 10, 10) !important;
  outline-offset: -1px; */
}

body {
  display: flex;
  justify-content: center;
  background-color: #0b2434;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.white-card {
  background-color: #f5f5f5;
  width: 485px;
  height: 500px;
  border-radius: 0.5rem;
  margin: 32px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-card > h1 {
  margin-top: 30px;
  margin-bottom: 37px;
}

.white-card > p {
  margin: 0 29px 42px;
  text-align: center;
  font-size: 1.1rem;
}

.die-buttons-block {
  height: 65px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-bottom: 67px;
  margin-left: 34px;
  margin-right: 34px;
}

.die {
  width: 65px;
  height: 65px;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.die-buttons-block > .die:hover {
  cursor: pointer;
}

.locked {
  background-color: rgb(38, 227, 230);
}

.white-card > .roll-newgame-button {
  margin-top: 70px;
  /* margin-bottom:; */
  width: 93px;
  height: 61px;
  background-color: #5035ff;
  color: white;
  border: 2px solid rgb(38, 227, 230);
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.white-card > .roll-newgame-button:hover {
  cursor: pointer;
}
